<!--stop rails server: kill -INT $(cat tmp/pids/server.pid)-->
<!DOCTYPE html>
<html>
<head>
  <title>Monster Hunter World Galerie</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<header>
</header>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="nav_bar" id="mynav_bar"><!-- SRC responsiveNav: https://www.youtube.com/watch?v=ydZc17rlR5E-->
  <button class="hamburger" id="hamburger">
    <i class="fa fa-bars"></i>
  </button>
  <li class="nav-items"><button class="btn-darkmode" >Darkmode</button></li>
  <li class="nav-items">
    <strong><a class="nav-items title text-color" <%= link_to "Home", root_path %></a></strong></li>
  <ul class="nav-ul" id="navUl">
    <li class="nav-items"><a class="text-size" href="/profil/index">Profil</a></li>
    <li class="nav-items"><a class="text-size" href="/galerie/index">Galerie</a></li>
    <li class="nav-items"><a class="text-size" href="/login/index">Login</a></li>
    <li class="nav-items"><a class="text-size" href="/register/index">Register</a></li>
    <li class="nav-items">
      <form method="post" action="/logout"><input name="authenticity_token" type="hidden"
                                                 value="<%= form_authenticity_token %>"/>
        <button class="btn" style="background: transparent; color: #ffffff; font-size: 20px; border: 0;" >Logout</button>
      </form>
    </li>
  </ul>
</nav>

<%= yield %>
<script type="text/javascript" src="/app/javascript/channels/responsiveNav.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
